.userlogout {
    position: fixed;
    bottom: 16px;
    left: 16px;
    z-index: 3;
}
 
.logout {
    width: 150px;
    height: 46px;
    background: #2c63f7;
    border-radius: 20rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
    transition: all 0.3s;
    box-shadow: 0 4px 17px 3px rgba(72, 31, 210, 0.1);
}
 
.logout:hover {
    transition: all 0.3s;
    box-shadow: 0 15px 17px 3px rgba(72,31,210,.1);
}