<div class="events-body">
    <div class="container-fluid">
        <div class="events-header">
            <div class="row">
                <div class="col-md-6 col-lg-6 header">
                    <div class="header-info">
                        <span class="text-muted">15 Jul 2020</span>
                        <h4>التصميم الخفى....
                            <br>
                            التعديلات التى لا يراها العميل
                        </h4>
                        <span class="text-muted">الجامعة الأمريكية - القاهرة</span>
                        <br>
                        <button><a href="register.html">عرض تفاصيل الفعالية</a></button>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 header-image">
                    <img src="./../../../../assets/imgs/event4.jpg" alt="">
                </div>
            </div>
            <div class="row row2">
                <div class="col-md-6 col-lg-6 header-image">
                    <img src="./../../../../assets/imgs/event2.jpg" alt="">
                </div>
                <div class="col-md-6 col-lg-6 header">
                    <div class="header-info">
                        <span class="text-muted">15 Jul 2020</span>
                        <h4>التصميم الخفى....
                            <br>
                            التعديلات التى لا يراها العميل
                        </h4>
                        <span class="text-muted">الجامعة الأمريكية - القاهرة</span>
                        <br>
                        <button><a href="register.html">عرض تفاصيل الفعالية</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="all-events">
        <div class="container">
            <h3>الفعاليات الحالية 2020</h3>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a routerLink="/events/singleevent">
                        <div class="card" style="width: 100%;">
                            <img src="./../../../../assets/imgs/event1.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                            <span class="text-muted">الجامعة الامريكية</span>
                            <span class="text-muted" style="float: left;">24 Jun 2020</span>                                    
                            <h5 class="card-title">كيف تاتى بالوان متناسقة لتصميمك</h5>
                            </div>
                        </div>  
                    </a>   
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a routerLink="/events/singleevent">
                        <div class="card" style="width: 100%;">
                            <img src="./../../../../assets/imgs/events7.png" class="card-img-top" alt="">
                            <div class="card-body">
                            <span class="text-muted">الجامعة الامريكية</span>
                            <span class="text-muted" style="float: left;">24 Jun 2020</span>
                            <h5 class="card-title">معانى الالوان و توظيفها فى التصميم</h5>
                            </div>
                        </div>  
                    </a>   
                </div>
                <div class="col-md-4 col-lg-4">
                    <a routerLink="/events/singleevent">
                        <div class="card" style="width: 100%;">
                            <img src="./../../../../assets/imgs/events8.png" class="card-img-top" alt="">
                            <div class="card-body">
                            <span class="text-muted">الجامعة الامريكية</span>
                            <span class="text-muted" style="float: left;">24 Jun 2020</span>
                            <h5 class="card-title">كيفية العمل على برنامج الفوتوشوب</h5>
                            </div>
                        </div>  
                    </a>   
                </div>
            </div>

            <h3 style="margin-top: 50px;">الفعاليات السابقة 2019</h3>
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a routerLink="/events/singleevent">
                        <div class="card" style="width: 100%;">
                            <img src="./../../../../assets/imgs/event3.jpg" class="card-img-top" alt="">
                            <div class="card-body">
                            <span class="text-muted">الجامعة الامريكية</span>
                            <span class="text-muted" style="float: left;">24 Jun 2020</span>                                    
                            <h5 class="card-title">كيف تاتى بالوان متناسقة لتصميمك</h5>
                            </div>
                        </div>  
                    </a>   
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <a routerLink="/events/singleevent">
                        <div class="card" style="width: 100%;">
                            <img src="./../../../../assets/imgs/events5.png" class="card-img-top" alt="">
                            <div class="card-body">
                            <span class="text-muted">الجامعة الامريكية</span>
                            <span class="text-muted" style="float: left;">24 Jun 2020</span>
                            <h5 class="card-title">معانى الالوان و توظيفها فى التصميم</h5>
                            </div>
                        </div>  
                    </a>   
                </div>
                <div class="col-md-4 col-lg-4">
                    <a routerLink="/events/singleevent">
                        <div class="card" style="width: 100%;">
                            <img src="./../../../../assets/imgs/events6.png" class="card-img-top" alt="">
                            <div class="card-body">
                            <span class="text-muted">الجامعة الامريكية</span>
                            <span class="text-muted" style="float: left;">24 Jun 2020</span>
                            <h5 class="card-title">كيفية العمل على برنامج الفوتوشوب</h5>
                            </div>
                        </div>  
                    </a>   
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="start-now">
            <div class="start-now-bg st-now2" style="padding: 45px 0;border-radius: 30px;">
                <div class="col-6">
                    <h3 style="margin-right: 50px;">تُقدم وسيلة مسارات مُصممة خصيصاً لأجلك لتعلم التصميم من البداية حتى الإحترافية </h3>
                </div>
            </div>
        </div> 
    </div>
</div>