<div class="event-body">
    <div class="container">
        <div class="event-head">
            <div class="row">
                <div class="col-lg-6">
                    <h1>معاني الألوان <br>وتوظيفها فالتصميم</h1>
                    <span class="text-muted">الجامعة الأمريكية - القاهرة</span>
                    <p>
                        كل ما تحتاج اليه هو وسيلة تمكنك من التعلم بمفردك و فى البيت بابسط الطرق و فى مجالات عديدة مجانى و باشتراك مميز مناسب للجميع
                    </p>
                    <span class="text-muted">22 June 2020</span>
                    <br>
                    <button><a href="register.html">احجز مقعدك مجاناً</a></button>
                </div>
                <div class="col-lg-6">
                    <img src="./../../../../assets/imgs/event1.jpg" alt="">
                    <span class="img-san">معاني الألوان</span>
                </div>
            </div>
        </div>

        <div class="event-speakers">
            <h2>المتحدثون</h2>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <img src="./../../../../assets/imgs/mohamed.jpg" alt="">
                    <h4>محمد على</h4>
                    <p>مدرب معتمد من شركة ادوبى و مصمم جرافيك وMotion Artist خبرة 10 سنين فى مجال الجرافيك والموشن جرافيك </p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <img src="./../../../../assets/imgs/karim.jpg" alt="">
                    <h4>كريم علي</h4>
                    <p>مدرب معتمد من شركة ادوبى و مصمم جرافيك و موشن جرافيك خبرة اكثر من 15 سنة فى مجال الجرافيك</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="start-now">
    <div class="start-now-bg">
        <div class="col-6">
            <h3>تُقدم وسيلة مسارات مُصممة خصيصاً لأجلك لتعلم التصميم من البداية حتى الإحترافية </h3>
            <button><a href="register.html">إنشاء حساب</a></button>
        </div>
    </div>
</div>   
